
body{background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0f9b0f, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0f9b0f, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

.portada {

top: 0px;
width: 1880px;
height: 240px;
background-image:url(cancha.jpg);


}
  
.portada h1{
  color: #1f201d ;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 80px;
  
}

.portada h2{color: #1f201d ;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 80px;
  
  
}